<!doctype html>
<html lang="pt-br">
  <head>
  
    <title>Login</title>
  </head>
  <body>

<form method="POST" action="{% url 'table_append' %}">
    {% csrf_token %}
    <label>Produto vendido:</label>
    <select name="selection" id="selection">
        <option id="selection", value="1">Painel Solar Monocristalino 550W - R$ 1.200,00</option>
        <option id="selection", value="2">Inversor Solar 5kW (On-Grid) - R$ 4.500,00</option>
        <option id="selection", value="3">Inversor Solar 10kW (On-Grid) - R$ 7.800,00</option>
        <option id="selection", value="4">Controlador de Carga MPPT 60A - R$ 1.500,00</option>
        <option id="selection", value="5">Bateria Solar de Lítio 5kWh - R$ 9.500,00</option>
        <option id="selection", value="6">Bateria Estacionária Chumbo-Ácido 220Ah - R$ 1.200,00</option>
        <option id="selection", value="7">Kit Estrutura para Telhado (10 painéis) - R$ 2.000,00</option>
        <option id="selection", value="8">Cabeamento Solar (kit completo 50m) - R$ 800,00</option>
        <option id="selection", value="9">Sistema de Monitoramento Solar (App + Hardware) - R$ 1.000,00</option>
        <option id="selection", value="10">Kit Completo Energia Solar Residencial 5kWp - R$ 25.000,00</option>
        <option id="selection", value="11">Serviço de instalação - preço a definir na hora da venda</option>
    </select>
    <label>Quantidade:</label>
    <input name="qtd" id="qtd" type="number" min="1" required></input>
    <button type="submit">Enviar</button>
</form>


 </body>
</html>